
/* Your CSS Code here. */
.holder{
	display:grid;
	color:white;
	gap:20px;
	grid-template-columns:repeat(2,1fr); 
		grid-template-rows:repeat(2,1fr); 
	
}
.item-1{
	height:200px;
	width:200px;
	background-color:red;
}
.item-2{
	height:200px;
	width:200px;
	background-color:green;
}
.item-3{
	height:200px;
	width:200px;
	background-color:teal;
}
.item-4{
	height:200px;
	width:200px;
	background-color:purple;
}